<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shiful.android.healthconsult"
    android:hardwareAccelerated="true"
    android:installLocation="auto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".patient.WebActivity" />
        <activity android:name=".patient.HealthTipsActivity" />
        <activity android:name=".patient.AppointmentHistoryActivity" />
        <activity android:name=".doctor.PatientHistoryActivity" />
        <activity android:name=".doctor.AppointmentDetailsActivity" />
        <activity android:name=".doctor.DoctorProfileUpdateActivity" />
        <activity android:name=".doctor.DoctorProfileActivity" />
        <activity android:name=".doctor.DoctorRegisterActivity" />
        <activity android:name=".doctor.DoctorLoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".doctor.AppointmentActivity" />
        <activity android:name=".patient.AmbulanceActivity" />
        <activity android:name=".patient.DoctorDetailsActivity" />
        <activity android:name=".patient.ViewDoctorActivity" />
        <activity android:name=".patient.PatientLoginActivity" />
        <activity android:name=".patient.CategoryActivity" />
        <activity android:name=".patient.PatientUpdateProfileActivity" />
        <activity android:name=".patient.PatientProfileActivity" />
        <activity android:name=".doctor.DoctorActivity" />
        <activity android:name=".patient.PatientRegisterActivity" />
        <activity android:name=".patient.PatientActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".notification.MyFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>